Repository philipsahli/innominatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, npm-lint, npm-format-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-imports
      - id: go-mod-tidy
      - id: golangci-lint
        args: ['--timeout=5m']

  # Security and local hooks
  - repo: local
    hooks:
      # Go security scan
      - id: gosec
        name: gosec (Go security scanner)
        entry: gosec
        args: ['-exclude-dir=web-ui', './...']
        language: system
        files: \.go$
        pass_filenames: false

      # NPM lint for web-ui
      - id: npm-lint
        name: npm lint (web-ui)
        entry: bash -c 'cd web-ui && npm run lint'
        language: system
        files: ^web-ui/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      # NPM format check for web-ui
      - id: npm-format-check
        name: npm format check (web-ui)
        entry: bash -c 'cd web-ui && npm run format:check'
        language: system
        files: ^web-ui/.*\.(js|jsx|ts|tsx|json|css)$
        pass_filenames: false

docs: add AI feature testing protocol and initial test results
  AI_CLONE_TEST_PROTOCOL.md
  test-results/ai-clone-test-20251006/scenario-1-exact-clone.yaml
  test-results/ai-clone-test-20251006/test-results-summary.md
Due: none

feat: add Mermaid diagram rendering support to documentation
  docs/view-diagrams.html
  fix-mermaid-diagrams-prompt.md
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/components/DocPageClient.tsx
  web-ui/src/components/mermaid-diagram.tsx
Due: npm-lint, npm-format-check

feat: enhance documentation search to include content and summaries
  web-ui/src/components/DocsIndexClient.tsx
  web-ui/src/lib/docs.ts
Due: npm-lint, npm-format-check

feat: add search term highlighting in documentation pages
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/components/DocPageClient.tsx
  web-ui/src/components/DocsIndexClient.tsx
Due: npm-lint, npm-format-check

feat: add SaaS agent architecture and comprehensive gap analysis
  ALL-GAPS.md
  ASYNC_QUEUE_IMPLEMENTATION.md
  Claude_Prompt_Delegated_Resources_Backwards_Compatible.txt
  DEMO_ASYNC_QUEUE.md
  GAP_ANALYSIS-2025-10-07.md
  HA_ARCHITECTURE_ANALYSIS.md
  TEST_RESULTS.md
  docs/platform-team-guide/saas-agent-architecture.md
  internal/queue/queue.go
  internal/queue/queue_test.go
  internal/server/handlers.go
  internal/server/queue_handlers.go
  internal/workflow/regression_test.go
  spec.yaml
  test-nginx-alice-excessive.yaml
  test-nginx-alice-simple.yaml
  web-ui/tests/test-search-highlighting.mjs
Due: gosec

fix: replace local AI SDK module reference with published version
  go.mod
  go.sum
  internal/ai/chat.go
  internal/ai/service.go
  internal/ai/tools.go
Due: gosec

fix: add missing database sessions.go file (force add)
  internal/database/sessions.go
Due: gosec

fix: add missing database applications.go file (force add)
  internal/database/applications.go
Due: gosec

fix: update CLI build command to use package path instead of single file
  .github/workflows/test.yml
Due: none

fix: add mutex synchronization to MockExecutor in queue tests
  internal/queue/queue_test.go
Due: gosec

fix: refactor cleanupExpiredSessions to use for-range instead of for-select
  internal/auth/sessions.go
Due: gosec

test: skip TestResourceOutputCapture when terraform is not available
  internal/workflow/integration_test.go
Due: gosec

ci: set fail_ci_if_error to false for Codecov upload
  .github/workflows/test.yml
Due: none

chore(deps): update Go dependencies
  go.mod
  go.sum
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

feat(ai): improve and standardize logging across AI/RAG components
  go.sum
  internal/ai/chat.go
  internal/ai/executor.go
  internal/ai/knowledge.go
  internal/ai/service.go
Due: gosec

docs: add comprehensive AI/RAG logging documentation
  docs/OBSERVABILITY.md
  docs/ai-assistant/reference/configuration.md
  docs/platform-team-guide/monitoring.md
  internal/ai/handlers.go
  web-ui/src/app/ai-assistant/page.tsx
  web-ui/src/components/ai/chat-message.tsx
  web-ui/tests/test-search-highlighting.mjs
Due: gosec, npm-lint, npm-format-check

docs: add Azure OpenAI integration implementation guides
  AZURE_OPENAI_DEMO_PROMPT.md
  AZURE_OPENAI_IMPLEMENTATION_IMPROVED.md
Due: none

docs: update night thoughts with Azure OpenAI integration reference
  NIGHT_THOUGHTS_2025-10-09.md
Due: none

feat: add Mermaid diagram export for workflow graphs
  WORKFLOW_GRAPH_VIZ_FEATURE.md
  examples/graphs/README.md
  go.sum
  internal/graph/mermaid.go
  internal/graph/mermaid_test.go
  internal/server/handlers.go
Due: gosec

fix: add timeout and better logging for AI service initialization
  cmd/server/main.go
Due: gosec

fix(server): add timeout to OIDC initialization to prevent server hang
  cmd/server/main.go
  internal/auth/oidc.go
  internal/server/handlers.go
Due: gosec

feat: add comprehensive Claude Code configuration
  .claude/agents/backend-engineer.md
  .claude/agents/code-reviewer.md
  .claude/agents/frontend-engineer.md
  .claude/agents/qa-engineer.md
  .claude/hooks.mjs
  .env.example
  CLAUDE.md
  DIGEST.md
  docs/getting-started.md
  docs/verification/.gitkeep
  setup.sh
  verification/README.md
  verification/examples/test-verification.mjs
  verification/template.mjs
Due: none

feat: add resource hints system with multiple hints per resource
  internal/database/database.go
  internal/database/models.go
  internal/database/resource_repository.go
  internal/resources/gitea_provisioner.go
Due: gosec

feat: add resource hints UI with dashboard-style cards
  web-ui/src/components/resource-details-pane.tsx
  web-ui/src/lib/api.ts
Due: npm-lint, npm-format-check

docs: add comprehensive extensibility architecture for platform-as-a-product model
  docs/EXTENSIBILITY_ARCHITECTURE.md
Due: none

feat: add resource hints to Kubernetes and ArgoCD provisioners
  internal/resources/argocd_provisioner.go
  internal/resources/kubernetes_provisioner.go
Due: gosec

fix: add hints column to resource repository queries
  internal/database/resource_repository.go
Due: gosec

feat: implement Phase 1 of extensibility architecture (SDK)
  docs/EXTENSIBILITY_IMPLEMENTATION_PLAN.md
  pkg/sdk/config.go
  pkg/sdk/doc.go
  pkg/sdk/errors.go
  pkg/sdk/hint.go
  pkg/sdk/platform.go
  pkg/sdk/provisioner.go
  pkg/sdk/resource.go
  pkg/sdk/sdk_test.go
  platform.yaml
Due: gosec

docs: add Phase 1 completion documentation
  RESOURCE_HINTS_E2E_TEST.md
  SESSION_SUMMARY.md
  docs/EXTENSIBILITY_PHASE1_SUMMARY.md
Due: none

feat: implement Phase 2 of extensibility architecture (Platform Loader & Registry)
  docs/PLATFORM_EXTENSION_GUIDE.md
  go.mod
  go.sum
  internal/platform/adapters.go
  internal/platform/loader.go
  internal/platform/platform_test.go
  internal/platform/registry.go
Due: gosec

docs: add Phase 2 completion summary and update session summary
  SESSION_SUMMARY.md
  docs/EXTENSIBILITY_PHASE2_SUMMARY.md
Due: none

feat: add admin settings page with sensitive data masking
  cmd/server/main.go
  internal/admin/config.go
  internal/server/handlers.go
  web-ui/src/app/settings/page.tsx
  web-ui/src/lib/api.ts
Due: gosec, npm-lint, npm-format-check

fix: move settings page to correct route /admin/settings
  users.yaml
  web-ui/src/app/admin/settings/page.tsx
Due: npm-lint, npm-format-check

feat: add admin integrations overview page with status tracking
  internal/admin/config.go
  web-ui/src/app/admin/integrations/page.tsx
  web-ui/src/lib/api.ts
Due: gosec, npm-lint, npm-format-check

feat: implement role-based access control (RBAC) for admin pages
  web-ui/src/app/admin/integrations/page.tsx
  web-ui/src/app/admin/settings/page.tsx
  web-ui/src/components/admin-route-protection.tsx
  web-ui/src/components/navigation.tsx
  web-ui/src/contexts/auth-context.tsx
Due: npm-lint, npm-format-check

fix: remove DEBUG print statements exposing connection details (BL-MNT-002)
  go.mod
  internal/database/database.go
Due: gosec

docs: mark BL-MNT-002 as completed in backlog
  BACKLOG.md
Due: none

fix: replace log.Println with structured logging in metrics pusher (BL-MNT-030)
  internal/metrics/pusher.go
Due: gosec
