Repository philipsahli/innominatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, npm-lint, npm-format-check

gosec:
  name: gosec (Go security scanner)
  entry: gosec
  args:
  - -exclude-dir=web-ui
  - ./...
  language: system
  pass_filenames: false

npm-lint:
  name: npm lint (web-ui)
  entry: bash -c 'cd web-ui && npm run lint'
  language: system
  pass_filenames: false

npm-format-check:
  name: npm format check (web-ui)
  entry: bash -c 'cd web-ui && npm run format:check'
  language: system
  pass_filenames: false

chore: update govulncheck to use official GitHub Action
  .github/workflows/security.yml
Due: none

fix: simplify gosec security scanner arguments in workflow
  .github/workflows/security.yml
Due: none

refactor: update security workflow to streamline Gosec execution
  .github/workflows/security.yml
Due: none

fix: resolve all 9 gosec security findings
  internal/cli/commands.go
  internal/demo/reset.go
  internal/providers/git_loader.go
  internal/providers/loader.go
  internal/server/web.go
  internal/workflow/executor.go
  internal/workflow/workflow.go
Due: gosec

fix: enable Next.js server startup for Playwright tests in CI
  web-ui/playwright.config.ts
Due: npm-lint, npm-format-check

fix: disable Web UI E2E tests and add prepare-embed to Security workflow
  .github/workflows/e2e-tests.yml
  .github/workflows/security.yml
Due: none

test: expand test coverage for parameter validation and mermaid graph export
  internal/goldenpaths/parameter_validator_test.go
  internal/graph/mermaid_test.go
Due: gosec

fix: create separate archives for server and CLI in goreleaser
  .goreleaser.yaml
  CONTRIBUTING.md
  Dockerfile
  README.md
  docs/_internal/GAP_ANALYSIS-2025-09-29.md
  docs/_internal/LOGIN_COMMAND_IMPLEMENTATION.md
  docs/_internal/ORPHANED_FILES.md
  docs/development/README.md
  internal/cli/client.go
  internal/cli/credentials.go
  internal/vault/k8s_deploy.go
  internal/vault/vso.go
  web-ui/dist/config.yaml
  web-ui/dist/metadata.json
  web-ui/playwright-report/index.html
  web-ui/src/lib/goldenpaths.ts
Due: gosec, npm-lint, npm-format-check

fix: add pkg/ directory to Docker extra_files in goreleaser
  .goreleaser.yaml
Due: none

fix: add pkg/ directory copy to Dockerfile for Docker builds
  Dockerfile
Due: none

fix: allow admin-config.yaml and goldenpaths.yaml in Docker builds
  .dockerignore
Due: none

fix: include docs/ directory for Next.js Docker builds
  .dockerignore
Due: none

fix: correct Docker build paths for Next.js static export and docs
  Dockerfile
Due: none

fix: add docs/ directory to goreleaser Docker build context
  .goreleaser.yaml
Due: none

chore: add install.sh script and ignore dist/ directory
  .gitignore
  install.sh
Due: none

fix: add macOS server builds and correct architecture naming in install script
  .goreleaser.yaml
  install.sh
Due: none

feat: enhance metrics for workflow engine and resources
  internal/database/repository.go
  internal/database/resource_repository.go
  internal/demo/grafana.go
  internal/metrics/metrics.go
  internal/queue/queue.go
Due: gosec

feat: add testcontainers-go for automated database testing
  .github/workflows/e2e-tests.yml
  .github/workflows/test.yml
  Makefile
  docker-compose.test.yml
  docs/testing/database-testing.md
  internal/database/repository_test.go
  internal/database/resource_repository_test.go
  internal/database/testhelpers.go
  scripts/add-testcontainers-dependency.sh
Due: gosec

fix: add workflow diagram visualization to workflow detail view
  web-ui/src/components/workflow-detail-view.tsx
Due: npm-lint, npm-format-check

feat: add SQLite support for zero-dependency development and testing
  Makefile
  docs/development/sqlite-support.md
  docs/testing/database-testing.md
  internal/database/sqlite.go
  internal/database/testhelpers.go
  scripts/add-sqlite-dependency.sh
Due: gosec

docs: add comprehensive SQLite development documentation
  .env.postgres.example
  .env.sqlite.example
  CLAUDE.md
  cmd/server/main.go
  docs/quick-start/README.md
  docs/quick-start/sqlite-development.md
Due: gosec

fix: rename testhelpers.go to testhelpers_test.go to fix build
  internal/database/testhelpers_test.go
Due: gosec

docs: add SETUP.md with dependency installation instructions
  SETUP.md
Due: none

chore: fix goreleaser format deprecation warning
  .goreleaser.yaml
Due: none

fix: handle TruncateAllTables return values correctly
  docs/testing/database-testing.md
  internal/database/testhelpers_test.go
Due: gosec

fix: add prepare-embed script to goreleaser before hooks
  .goreleaser.yaml
Due: none

chore: update dependencies and test session data
  go.mod
  go.sum
  internal/auth/test-sessions.json
Due: none

docs: improve installation instructions and add web UI request logging
  Dockerfile
  README.md
  cmd/server/main.go
  internal/auth/test-sessions.json
Due: gosec

fix: add swagger files to goreleaser Docker build context
  .goreleaser.yaml
Due: none

fix: add providers directory to Docker image
  .goreleaser.yaml
  Dockerfile
Due: none

fix: remove duplicate prepare-embed.sh from goreleaser hooks
  .goreleaser.yaml
Due: none

feat: improve development workflow with automatic web-ui build
  Makefile
  scripts/dev-server.sh
Due: none

test: add automated tests for embedded web UI
  internal/auth/test-sessions.json
  scripts/test-embedded-ui.sh
  web-ui/.gitignore
  web-ui/playwright-report/index.html
  web-ui/playwright.config.goserver.ts
  web-ui/test-results/.last-run.json
  web-ui/tests/e2e/go-server.spec.ts
Due: npm-lint, npm-format-check

fix: resolve Next.js RSC routing and infinite redirect loop
  cmd/server/main.go
Due: gosec

fix: correct Gitea password for demo environment
  internal/cli/commands.go
  internal/demo/components.go
Due: gosec

feat: add OIDC auto-detection and admin configuration support
  DEMO.md
  admin-config.yaml
  internal/auth/autodiscovery.go
  internal/auth/autodiscovery_test.go
  internal/auth/oidc.go
  internal/cli/commands.go
  internal/demo/admin_config.go
  internal/demo/admin_config_test.go
  internal/demo/cheatsheet.go
  internal/demo/git.go
  tests/e2e/admin-config.yaml
Due: gosec

fix: add template rendering to policy executor for wait-for-database
  admin-config.yaml
  cmd/cli/main.go
  internal/cli/client.go
  internal/cli/commands.go
  internal/users/users.go
  internal/workflow/executor.go
  providers/database-team/workflows/provision-postgres.yaml
  test-nginx-alice-excessive.yaml
  tests/test-e2e-alice-nginx-excessive.sh
  users.yaml
Due: gosec

feat: add Graph Explorer to /dev UI with real-time monitoring
  internal/auth/test-sessions.json
  users.yaml
  web-ui/src/app/dev/graph2/page.tsx
  web-ui/src/app/dev/layout.tsx
  web-ui/src/components/dev/live-steps-monitor.tsx
  web-ui/src/components/dev/resource-table.tsx
  web-ui/src/components/dev/workflow-table.tsx
Due: npm-lint, npm-format-check

Path conditions:
  gosec: any of: \.go$
  npm-lint: any of: ^web-ui/.*\.(js|jsx|ts|tsx)$
  npm-format-check: any of: ^web-ui/.*\.(js|jsx|ts|tsx|json|css)$
