Repository philipsahli/innominatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, npm-lint, npm-format-check

gosec:
  name: gosec (Go security scanner)
  entry: gosec
  args:
  - -exclude-dir=web-ui
  - ./...
  language: system
  pass_filenames: false

npm-lint:
  name: npm lint (web-ui)
  entry: bash -c 'cd web-ui && npm run lint'
  language: system
  pass_filenames: false

npm-format-check:
  name: npm format check (web-ui)
  entry: bash -c 'cd web-ui && npm run format:check'
  language: system
  pass_filenames: false

docs: mark BL-MNT-030 as completed in backlog
  BACKLOG.md
Due: none

feat: implement workflow retry dialog in Web UI (BL-IMP-003)
  web-ui/src/app/workflows/page.tsx
  web-ui/src/components/retry-workflow-dialog.tsx
Due: npm-lint, npm-format-check

docs: mark BL-IMP-003 as completed in backlog
  BACKLOG.md
Due: none

fix: implement golden path parameter substitution (BL-BUG-001)
  internal/cli/commands.go
  internal/queue/queue.go
  internal/queue/queue_test.go
  internal/server/handlers.go
  internal/workflow/executor.go
  internal/workflow/executor_test.go
Due: gosec

docs: mark BL-BUG-001 as completed in backlog
  BACKLOG.md
Due: none

chore: complete P0-P1 maintenance tasks (BL-MNT-001, BL-MNT-004, BL-MNT-010)
  CLAUDE.md
  cmd/cli/chat.go
  cmd/cli/main.go
  cmd/server/main.go
  cmd/server/main_test.go
  docs/PRODUCT_WORKFLOWS_COMPLETE.md
  docs/PRODUCT_WORKFLOW_GAPS.md
  docs/US-005_IMPLEMENTATION_SUMMARY.md
  docs/index.md
  docs/product-team-guide/README.md
  docs/product-team-guide/activation-guide.md
  docs/product-team-guide/product-workflows.md
  internal/admin/config.go
  internal/demo/cheatsheet.go
  internal/metrics/metrics_test.go
  tests/integration/create-failed-workflow.go
  tests/integration/test-workflow-retry.go
  web-ui/src/app/admin/integrations/page.tsx
  web-ui/src/app/admin/settings/page.tsx
  web-ui/src/components/DocsIndexClient.tsx
  web-ui/src/components/admin-route-protection.tsx
  web-ui/src/components/retry-workflow-dialog.tsx
  workflow-demo.go
Due: gosec, npm-lint, npm-format-check

docs: update backlog to mark BL-MNT-001, BL-MNT-004, BL-MNT-010 as completed
  BACKLOG.md
Due: none

test: add comprehensive coverage for security, logging, validation packages (BL-MNT-011)
  internal/logging/logger_test.go
  internal/security/security_test.go
  internal/validation/validator_test.go
Due: gosec

test: add comprehensive session management tests for auth package (BL-MNT-006)
  internal/auth/sessions_test.go
  internal/auth/test-sessions.json
Due: gosec

test: add comprehensive test coverage for database package (BL-MNT-007)
  internal/database/database_test.go
  internal/database/models_test.go
  internal/database/repository_test.go
  internal/database/resource_repository_test.go
Due: gosec

docs: update backlog to mark BL-MNT-006, BL-MNT-007, BL-MNT-011 as completed
  BACKLOG.md
Due: none

test: fix database test isolation issues (BL-MNT-007)
  internal/database/resource_repository_test.go
Due: gosec

test: fix missing schema initialization in database tests
  internal/database/repository_test.go
  internal/database/resource_repository_test.go
Due: gosec

fix(database): remove DEBUG print statements and migrate to structured logging (BL-MNT-002)
  internal/database/database.go
  internal/database/sessions.go
Due: gosec

docs: update BACKLOG.md to mark BL-MNT-002 as completed
  BACKLOG.md
Due: none

refactor: rename platform → provider terminology
  internal/platform/loader.go
  internal/providers/adapters.go
  internal/providers/loader.go
  internal/providers/platform_test.go
  internal/providers/registry.go
  pkg/sdk/errors.go
  pkg/sdk/provider.go
Due: gosec

feat: add Git repository support for providers (core functionality)
  admin-config.yaml
  go.mod
  go.sum
  internal/admin/config.go
  internal/providers/git_loader.go
  internal/providers/git_loader_test.go
Due: gosec

feat: integrate provider loading into server with API endpoints
  cmd/server/main.go
  internal/providers/loader.go
  internal/server/handlers.go
  internal/server/provider_handlers.go
  providers/builtin/provider.yaml
Due: gosec

feat: add CLI commands for provider management
  cmd/cli/main.go
  internal/cli/client.go
  internal/cli/commands.go
Due: gosec

feat: add providers page to web UI
  web-ui/src/app/providers/page.tsx
  web-ui/src/components/navigation.tsx
  web-ui/src/lib/api.ts
Due: npm-lint, npm-format-check

feat: add demo storage-team provider for Git-based loading example
  admin-config.yaml
  providers/storage-team/README.md
  providers/storage-team/provider.yaml
Due: none

fix: add toast notification system and fix build errors in web UI
  web-ui/src/app/admin/users/page.tsx
  web-ui/src/app/layout.tsx
  web-ui/src/components/admin-impersonation.tsx
  web-ui/src/components/application-details-pane.tsx
  web-ui/src/components/ui/dialog.tsx
  web-ui/src/components/ui/toast.tsx
  web-ui/src/components/ui/toaster.tsx
  web-ui/src/hooks/use-toast.tsx
Due: npm-lint, npm-format-check

fix: resolve providers page JSON parse error (double /api prefix bug)
  tests/ui/test-auth-providers.mjs
  web-ui/package.json
  web-ui/src/contexts/auth-context.tsx
  web-ui/src/lib/api.ts
Due: npm-lint, npm-format-check

feat: comprehensive API/CLI/UI gap closure and admin features
  CHANGELOG.md
  cmd/cli/main.go
  docs/API_CLI_UI_GAP_ANALYSIS.md
  docs/CONSISTENCY_VERIFICATION_REPORT.md
  docs/GAP_CLOSURE_SUMMARY.md
  docs/GAP_CLOSURE_SUMMARY_SESSION2.md
  docs/TERMINOLOGY.md
  go.mod
  go.sum
  internal/auth/sessions_db.go
  internal/auth/test-sessions.json
  internal/cli/client.go
  internal/cli/commands.go
  internal/cli/output.go
  internal/database/applications.go
  internal/demo/cheatsheet.go
  internal/demo/git.go
  internal/demo/installer.go
  internal/server/auth_handlers.go
  migrations/010_add_application_labels.sql
  swagger-user.yaml
  users.yaml
  web-ui/package-lock.json
  web-ui/src/app/admin/impersonate/page.tsx
  web-ui/src/app/admin/users/page.tsx
  web-ui/src/app/environments/page.tsx
  web-ui/src/app/providers/page.tsx
  web-ui/src/components/admin-impersonation.tsx
  web-ui/src/components/application-details-pane.tsx
  web-ui/src/components/graph-visualization.tsx
  web-ui/src/components/impersonation-banner.tsx
  web-ui/src/components/layout-content.tsx
  web-ui/src/components/ui/alert-dialog.tsx
  web-ui/src/components/ui/dropdown-menu.tsx
  web-ui/src/components/ui/toast.tsx
  web-ui/src/hooks/use-api.ts
  web-ui/src/hooks/use-toast.tsx
Due: gosec, npm-lint, npm-format-check

refactor: migrate list-goldenpaths from local to server API
  cmd/cli/main.go
  internal/cli/client.go
  internal/cli/commands.go
  users.yaml
Due: gosec

refactor: prepare for embedded static files support
  docs/EMBEDDING.md
  go.sum
  internal/database/database.go
  internal/server/handlers.go
  internal/server/web.go
Due: gosec

feat: implement embedded static files for standalone binary distribution
  .gitignore
  cmd/server/main.go
  internal/database/database.go
  internal/server/handlers.go
Due: gosec

refactor: migrate CLI from flag package to Cobra framework
  cmd/cli/main.go
  go.mod
  go.sum
Due: gosec

docs: update all documentation for Cobra CLI migration
  CLAUDE.md
  README.md
  docs/getting-started/quick-start.md
  docs/user-guide/cli-reference.md
Due: none

test: implement comprehensive E2E test suite with Makefile
  .claude/prompts/e2e-test-implementation.md
  .github/workflows/e2e-tests.yml
  CLAUDE.md
  MAKEFILE.md
  Makefile
  docs/development/testing.md
  go.mod
  internal/cli/commands_test.go
  testdata/provider-k8s.yaml
  testdata/score-spec-invalid.yaml
  testdata/score-spec-simple.yaml
  testdata/score-spec-terraform.yaml
  tests/e2e/demo_test.go
  tests/e2e/deployment_test.go
  web-ui/package.json
  web-ui/playwright.config.ts
  web-ui/tests/e2e/admin.spec.ts
  web-ui/tests/e2e/dashboard.spec.ts
  web-ui/tests/e2e/deploy.spec.ts
  web-ui/tests/e2e/resources.spec.ts
Due: gosec, npm-lint, npm-format-check

chore: remove unused files from codebase
  swagger.yaml
  test-results/ai-clone-test-20251006/scenario-1-exact-clone.yaml
  test-results/ai-clone-test-20251006/test-results-summary.md
  verification/template.mjs
Due: none

fix: add prepare-embed script to copy static files before build
  .github/workflows/release.yml
  .github/workflows/test.yml
  Makefile
  scripts/prepare-embed.sh
  web-ui/package-lock.json
Due: npm-format-check

fix: resolve all golangci-lint errors and add Windows support
  .github/workflows/test.yml
  internal/database/database.go
  internal/database/repository.go
  internal/providers/adapters.go
  internal/server/annotations.go
  internal/server/critical_path.go
  internal/server/handlers.go
  internal/server/metrics.go
  internal/server/provider_handlers.go
  internal/server/websocket.go
  internal/workflow/executor.go
  internal/workflow/workflow.go
  scripts/prepare-embed.ps1
  tests/e2e/demo_test.go
  tests/e2e/deployment_test.go
Due: gosec

fix: update GitHub Actions to use Go 1.24 to match go.mod requirement
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: enhance pre-commit hooks with build and test verification
  .pre-commit-config.yaml
Due: none

fix: complete GitHub Actions Go 1.24 alignment for e2e-tests workflow
  .github/workflows/e2e-tests.yml
  .gitignore
  database/schema.sql
  internal/auth/test-sessions.json
  internal/database/migrations/009_create_queue_tasks.sql
  users.yaml
  web-ui/playwright.config.ts
  web-ui/tests/e2e/admin.spec.ts
  web-ui/tests/e2e/dashboard.spec.ts
  web-ui/tests/e2e/deploy.spec.ts
  web-ui/tests/e2e/resources.spec.ts
Due: npm-lint, npm-format-check

fix: add prepare-embed step to e2e-tests workflow and sync package-lock
  .github/workflows/e2e-tests.yml
  web-ui/package-lock.json
Due: npm-format-check

fix: resolve GitHub Actions failures in Security and E2E Tests workflows
  .github/workflows/security.yml
  web-ui/package-lock.json
  web-ui/package.json
Due: npm-format-check

fix: update vulnerable dependencies to address govulncheck findings
  go.mod
  go.sum
Due: none

Path conditions:
  gosec: any of: \.go$
  npm-lint: any of: ^web-ui/.*\.(js|jsx|ts|tsx)$
  npm-format-check: any of: ^web-ui/.*\.(js|jsx|ts|tsx|json|css)$
