Repository philipsahli/innominatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, npm-lint, npm-format-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-imports
      - id: go-mod-tidy
      - id: golangci-lint
        args: ['--timeout=5m']

  # Security and local hooks
  - repo: local
    hooks:
      # Go security scan
      - id: gosec
        name: gosec (Go security scanner)
        entry: gosec
        args: ['-exclude-dir=web-ui', './...']
        language: system
        files: \.go$
        pass_filenames: false

      # NPM lint for web-ui
      - id: npm-lint
        name: npm lint (web-ui)
        entry: bash -c 'cd web-ui && npm run lint'
        language: system
        files: ^web-ui/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      # NPM format check for web-ui
      - id: npm-format-check
        name: npm format check (web-ui)
        entry: bash -c 'cd web-ui && npm run format:check'
        language: system
        files: ^web-ui/.*\.(js|jsx|ts|tsx|json|css)$
        pass_filenames: false

docs: add badges
  README.md
Due: none

fix: correct Dependabot npm directory from /v2 to /web-ui
  .github/dependabot.yml
Due: none

docs: restructure documentation with production-ready guides
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

feat: add Backstage developer portal to demo environment
  internal/demo/cheatsheet.go
  internal/demo/components.go
  internal/demo/health.go
  internal/demo/installer.go
Due: gosec

fix: update Backstage configuration with techdocs and PostgreSQL settings
  internal/demo/components.go
Due: gosec

fix: use SQLite in-memory database for Backstage demo instead of PostgreSQL
  internal/demo/components.go
Due: gosec

feat: add Backstage Software Template for Score specification wizard
  backstage-templates/README.md
  backstage-templates/score-app-template.yaml
  backstage-templates/skeleton/catalog-info.yaml.njk
  backstage-templates/skeleton/score.yaml.njk
Due: none

feat: automate Keycloak OIDC integration for ArgoCD in demo environment
  KEYCLOAK-DEMO-INTEGRATION.md
  backstage-templates/README.md
  cmd/server/main.go
  internal/cli/commands.go
  internal/demo/cheatsheet.go
  internal/demo/components.go
  internal/demo/git.go
  internal/demo/health.go
  internal/demo/installer.go
  internal/resources/integration_test.go
  internal/resources/kubernetes_provisioner.go
  internal/resources/kubernetes_provisioner_test.go
  internal/server/handlers.go
  terraform/alice-nginx-simple-default/main.tf
  test-e2e-alice-nginx-excessive.sh
  users.yaml
  web-ui/src/app/profile/page.tsx
  web-ui/src/components/DocPageClient.tsx
  web-ui/src/components/copy-button.tsx
  web-ui/src/components/navigation.tsx
  web-ui/src/components/profile/security-tab.tsx
  web-ui/src/components/ui/dialog.tsx
  web-ui/src/components/ui/tabs.tsx
  web-ui/src/lib/api.ts
Due: gosec, npm-lint, npm-format-check

fix: add security annotations to integration test kubectl commands
  internal/resources/integration_test.go
Due: gosec

feat: implement Phase 1 API security hardening - rate limiting and request controls
  docs/API_SECURITY_PHASE1.md
  internal/server/handlers.go
  internal/server/ratelimit.go
  internal/server/ratelimit_test.go
  internal/server/request_limits.go
Due: gosec

feat: implement golden path parameter validation framework
  GAP_ANALYSIS-2025-10-04.md
  docs/GOLDEN_PATHS_PARAMETERS.md
  goldenpaths.yaml
  internal/cli/commands.go
  internal/goldenpaths/config.go
  internal/goldenpaths/parameter_validator.go
  internal/goldenpaths/parameter_validator_test.go
Due: gosec

feat: add Prometheus Pushgateway integration with Grafana dashboard
  GAP_ANALYSIS-2025-10-04.md
  cmd/server/main.go
  go.mod
  go.sum
  internal/cli/commands.go
  internal/demo/cheatsheet.go
  internal/demo/components.go
  internal/demo/grafana.go
  internal/demo/health.go
  internal/metrics/pusher.go
  terraform/admin-nginx-simple-default/.terraform.lock.hcl
  terraform/admin-nginx-simple-default/infra_provisioned.txt
  terraform/admin-nginx-simple-default/main.tf
  terraform/admin-nginx-simple-default/terraform.tfstate
Due: gosec

fix: update server tests to match refactored architecture
  go.mod
  go.sum
  internal/graph/adapter.go
  internal/server/handlers.go
  internal/server/handlers_test.go
  internal/workflow/executor.go
Due: gosec

fix: resolve golangci-lint errors (errcheck and unused functions)
  internal/cli/client.go
  internal/graph/adapter.go
  internal/server/handlers.go
Due: gosec

fix: remove gosimple from nolint directive
  internal/auth/sessions.go
Due: gosec

feat: add Keycloak OIDC integration for all demo services
  internal/database/database.go
  internal/demo/cheatsheet.go
  internal/demo/components.go
  internal/demo/installer.go
  users.yaml
Due: gosec

docs: add comprehensive OIDC authentication documentation
  CLAUDE.md
  CLI_TEST_RESULTS-2025-10-05.md
  DEVEX_ANALYSIS-2025-10-05.md
  DEVEX_ANALYSIS-DOCUMENTATION_STRUCTURE-2025-10-05.md
  DOCUMENTATION_MIGRATION_QUICKWINS.md
  KEYCLOAK-DEMO-INTEGRATION.md
  README.md
  cmd/server/main.go
  docs/OIDC_AUTHENTICATION.md
  go.mod
  go.sum
  internal/auth/oidc.go
  internal/database/database.go
  internal/demo/cheatsheet.go
  internal/demo/components.go
  internal/demo/installer.go
  internal/server/auth_handlers.go
  internal/server/handlers.go
  internal/server/middleware.go
  migrations/005_create_api_keys_table.sql
  migrations/README.md
  users.yaml
  web-ui/src/app/auth/oidc/callback/page.tsx
  web-ui/src/app/login/page.tsx
  web-ui/src/lib/api.ts
Due: gosec, npm-lint, npm-format-check

feat: add Prometheus runtime metrics and extend Grafana dashboard
  cmd/server/main.go
  go.mod
  internal/demo/grafana.go
  internal/metrics/pusher.go
  internal/metrics/pusher_test.go
Due: gosec

docs: restructure README with persona-based navigation
  .claude/prompts/quickwin-1-readme-persona-split.md
  .claude/prompts/quickwin-2-user-guide-getting-started.md
  .claude/prompts/quickwin-3-cli-help-separation.md
  .claude/prompts/quickwin-4-recipe-nodejs-postgres.md
  .claude/prompts/quickwin-5-platform-quick-install.md
  README.md
  docs/development/README.md
  docs/development/architecture.md
  docs/development/building.md
  docs/development/testing.md
  docs/platform-team-guide/README.md
  docs/platform-team-guide/configuration.md
  docs/platform-team-guide/database.md
  docs/platform-team-guide/installation.md
  docs/platform-team-guide/monitoring.md
  docs/platform-team-guide/operations.md
  docs/user-guide/README.md
  docs/user-guide/cli-reference.md
  docs/user-guide/first-deployment.md
  docs/user-guide/getting-started.md
  docs/user-guide/troubleshooting.md
Due: none

docs: enhance getting-started success moment
  docs/user-guide/getting-started.md
Due: none

docs: enhance user guide with time estimates and success visualization
  docs/user-guide/getting-started.md
Due: none

docs: restructure documentation with persona-based navigation
  docs/CLI_OUTPUT_FORMATTING.md
  docs/CONDITIONAL_EXECUTION.md
  docs/CONTEXT_VARIABLES.md
  docs/GOLDEN_PATHS_METADATA.md
  docs/GOLDEN_PATHS_PARAMETERS.md
  docs/HEALTH_MONITORING.md
  docs/PARALLEL_EXECUTION.md
  docs/cli/README.md
  docs/cli/golden-paths.md
  docs/development/README.md
  docs/development/graph-integration.md
  docs/index.md
  docs/platform-team-guide/README.md
  docs/platform-team-guide/authentication.md
  docs/platform-team-guide/monitoring.md
  docs/platform-team-guide/quick-install.md
  docs/platform-team-guide/security.md
  docs/user-guide/README.md
  docs/user-guide/getting-started.md
  docs/user-guide/recipes/README.md
  docs/user-guide/recipes/nodejs-postgres.md
  web-ui/.gitignore
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/postcss.config.mjs
  web-ui/src/app/globals.css
  web-ui/src/components/DocPageClient.tsx
  web-ui/src/components/DocsIndexClient.tsx
  web-ui/src/components/TableOfContents.tsx
  web-ui/src/components/navigation.tsx
  web-ui/src/lib/extract-toc.ts
  web-ui/tailwind.config.ts
Due: npm-lint, npm-format-check

feat: add component filtering to demo-time command
  cmd/cli/main.go
  cmd/server/main.go
  docs/OBSERVABILITY.md
  go.mod
  go.sum
  internal/cli/commands.go
  internal/cli/commands_test.go
  internal/demo/components.go
  internal/demo/health.go
  internal/logging/context.go
  internal/logging/zerolog_adapter.go
  internal/server/middleware.go
  internal/tracing/tracer.go
  internal/workflow/executor.go
Due: gosec

feat: add login/logout commands with persistent credentials
  GAP_ANALYSIS-2025-10-06.md
  LOGIN_COMMAND_IMPLEMENTATION.md
  cmd/cli/main.go
  internal/cli/client.go
  internal/cli/commands.go
  internal/cli/credentials.go
Due: gosec

fix: enable CLI to load credentials from file
  cmd/cli/main.go
  internal/cli/client.go
Due: gosec

fix: enable admin commands with API key authentication
  cmd/cli/main.go
  internal/cli/commands.go
Due: gosec

feat: wire up resource interpolation and dependency enforcement
  GAP_ANALYSIS-2025-10-06.md
  internal/workflow/conditions.go
  internal/workflow/executor.go
Due: gosec

test: add comprehensive integration tests for resource interpolation
  GAP_ANALYSIS-2025-10-06.md
  internal/workflow/integration_test.go
Due: gosec

docs: add comprehensive Workflow Developer Guide
  docs/guides/workflow-developer-guide.md
  docs/guides/workflows.md
  docs/index.md
Due: none

feat: add delegated resources support (Phase 1-2)
  internal/database/database.go
  internal/database/models.go
  internal/database/resource_repository.go
  internal/resources/status.go
Due: gosec

feat: add delegated resources API filtering and metrics (Phase 3-4)
  internal/metrics/metrics.go
  internal/server/resource_handlers.go
Due: gosec

docs: add comprehensive delegated resources documentation (Phase 5)
  docs/features/delegated-resources.md
  docs/index.md
Due: none

feat: add Kubernetes deployment support with auto-detection and fix delegated resources migration
  CLAUDE.md
  docs/platform-team-guide/kubernetes-deployment.md
  internal/database/database.go
  internal/demo/cheatsheet.go
  internal/demo/detector.go
  internal/demo/installer.go
  migrations/006_add_delegated_resources.sql
Due: gosec

feat: add AI assistant with CLI chat, spec generation, and Web UI integration
  AUTHORS.md
  cmd/cli/chat.go
  cmd/cli/main.go
  cmd/server/main.go
  docs/ai-assistant/README.md
  docs/ai-assistant/explanations/tool-calling-architecture.md
  docs/ai-assistant/how-to-guides/deploy-with-ai.md
  docs/ai-assistant/how-to-guides/generate-specs.md
  docs/ai-assistant/how-to-guides/get-application-details.md
  docs/ai-assistant/how-to-guides/list-applications.md
  docs/ai-assistant/how-to-guides/query-workflows.md
  docs/ai-assistant/how-to-guides/view-statistics.md
  docs/ai-assistant/reference/api-reference.md
  docs/ai-assistant/reference/cli-reference.md
  docs/ai-assistant/reference/configuration.md
  docs/ai-assistant/reference/tools-reference.md
  docs/ai-assistant/tutorials/getting-started.md
  docs/platform-team-guide/ai-assistant.md
  docs/user-guide/ai-assistant.md
  go.mod
  go.sum
  internal/ai/chat.go
  internal/ai/executor.go
  internal/ai/handlers.go
  internal/ai/knowledge.go
  internal/ai/service.go
  internal/ai/tools.go
  internal/ai/types.go
  internal/server/handlers.go
  web-ui/src/app/ai-assistant/page.tsx
  web-ui/src/components/ai/chat-input.tsx
  web-ui/src/components/ai/chat-message.tsx
  web-ui/src/components/ai/spec-preview.tsx
  web-ui/src/components/navigation.tsx
  web-ui/src/lib/api.ts
Due: gosec, npm-lint, npm-format-check

fix: add conversation history tracking for AI assistant context persistence
  internal/ai/chat.go
  internal/ai/types.go
  web-ui/src/app/ai-assistant/page.tsx
  web-ui/src/lib/api.ts
Due: gosec, npm-lint, npm-format-check

fix: improve AI system prompt to recognize and use previously generated specs
  internal/ai/chat.go
Due: gosec

fix: add conversation history tracking to CLI chat command
  cmd/cli/chat.go
Due: gosec

fix: store generated spec in conversation history for Web UI quick buttons
  web-ui/src/app/ai-assistant/page.tsx
Due: npm-lint, npm-format-check
